
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <strong>Posted at:</strong>
  <%= comment.created_at.strftime("%A, %d %B %Y %l:%M%p") %>
</p>
<p>
<% if user_signed_in? %>
<% if @article.user == current_user %>
	<%= link_to 'Destroy Comment',[comment.article,comment],remote: true,class: 'btn btn-danger',
	             method: :delete,
	             data: {confirm: 'Are you sure?'} %>
	             <% end %>
	             <% end %>
 </p>