<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Create New Article</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
 
<%= render 'form' %>
