<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron">
        <% if user_signed_in? %>
        <h1>Welcome back, trusted user!</h1>
        <p class="lead">
        You have signed in!  Welcome to my blog.enjoye browsing or else You can sign out now.
        </p>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-warning' %>
        <% else %>
        <h1>sign in please!</h1>
        <% end %>
      </div>
      <div>
      <%= image_tag("clicktech.png",:size => '600x300', :alt => "clicktech") %>
      <div>
      <%= link_to 'New articles', new_article_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'}  %>  
      <%= link_to 'show all' , articles_path, class: 'btn btn-info' %>
      </div>

      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
      </div>
      </div>

      </div>
    </div>
  <div class="col-md-4">
  <div class="well text-center">
  <p class="lead">
  Don't want to miss updates? Please click the below button!
  </p>
  <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
  </div>

  <!-- Latest Posts -->
  <div class="panel panel-primary">
  <div class="panel-heading">
  <h4>Latest Posts</h4>
  </div>
  <ul class="list-group">
  <li class="list-group-item"><a href="#">1. NOT DONE </a></li>
  </ul>
  </div>

  <!-- Categories -->
  <div class="panel panel-primary">
  <div class="panel-heading">
  <h4>Categories</h4>
  </div>
  <ul class="list-group">
  <li class="list-group-item"><a href="#">NOT DONE</a></li>

  </ul>
  </div>

  <!-- Books -->
  <div class="panel panel-primary">
  <div class="panel-heading">
  <h4>Books</h4>
  </div>

  <ul class="list-group">
  <li class="list-group-item"><a href="/books">Books</a></li>
  </ul>
  </div>

  <!-- Recent Comments -->
  <div class="panel panel-primary">
  <div class="panel-heading">
  <h4>Recent Comments</h4>
  </div>
  <ul class="list-group">
  <li class="list-group-item"><a href="#">NOT DONE! - <em>nomy</em></a></li>
  </ul>
  </div>

  </div>
  </div>
  </div>

