<p>
	<strong>Title:</strong>
	<%= @book.title %>
</p>
<p>
	<strong>articles:</strong>
<p>
	<%= @book.articles.map {|a| a.title}.join (', ') %>
</p>
<%= link_to 'Edit', edit_book_path(@book) ,class: 'btn btn-info'%> |
<%= link_to 'Back', books_path ,class: 'btn btn-secondary'%>
