@import "bootstrap";

@font-face {
  font-family: "FontAwesome";
  src: url('<%= asset_path("fontawesome-webfont.eot") %>');
  src: url('<%= asset_path("fontawesome-webfont.eot") + "?#iefix" %>') format('eot'), url('<%= asset_path("fontawesome-webfont.woff") %>') format('woff'), url('<%= asset_path("fontawesome-webfont.ttf") %>') format('truetype'), url('<%= asset_path("fontawesome-webfont.svg") + "#FontAwesome" %>') format('svg');
  font-weight: normal;
  font-style: normal;
}


body
{
    font-size: 15px;
    line-height: 1.8;
    color: black;
    background-color: #efefc2;
}

footer 
{
  margin: 10px 0;
}

.panel-primary
{
  margin-left: 45px;
  margin-right: 30px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #fbffdf;
    border: 1px solid #efefc2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.panel-primary>.panel-heading {
    background-image: -webkit-linear-gradient(top, #aeaf57 0, #9fa04c 100%);
    background-image: linear-gradient(to bottom, #aeaf57 0, #9fa04c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaeaf57', endColorstr='#ff9fa04c', GradientType=0);
}
.panel-primary>.panel-heading {
    color: #fbffdf;
    background-color: #aeaf57;
    border-color: #efefc2;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}


.navbar
{
background-image: linear-gradient(to bottom, #6d6d4b 0, #4f4f36 100%);
background-color: #4f4f36;
border-color: #313121;
margin-bottom:35px;
}

.navbar .navbar-nav .nav-link:hover 
{
    color: #fff;
}

.navbar .navbar-nav .navbar-link:hover {
    color: #fff;
}

.navbar .navbar-nav .navbar-text {
    color: #fff;
}
 .navbar-text{
   // logedin email
} 

.navbar .navbar-nav .navbar-text .navbar-link {
    color: #aeaf57;
}
.navbar-text
{
        margin-left:500px;

}

a {
    text-decoration: none;
    background: transparent;
    color: black;

}
a:hover
{
    color:#daa019;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #959647;
    border-color: #767739;
}
.btn-primary 
{
    background-image: -webkit-linear-gradient(top, #aeaf57 0, #878841 100%);
    background-image: linear-gradient(to bottom, #aeaf57 0, #878841 100%);
    border-color: #959647; 
    
}
.navbar-expand-lg .navbar-nav .nav-link 
{
   color:#aeaf57;
}


/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
